#!/usr/bin/make -f

build:

binary: binary-arch binary-indep

binary-arch:

binary-indep:
	dh_prep
	mkdir -p debian/tmp
	cp -r --preserve=timestamps usr debian/tmp/usr
	find debian/tmp -type f -name '*.xcf' -print0 | xargs -0 rm
	dh_install --fail-missing --autodest --sourcedir=debian/tmp
	dh_gencontrol
	dh_installdeb
	dh_installdocs
	dh_installchangelogs
	dh_md5sums
	dh_builddeb

clean:
	dh_clean
