#!/usr/bin/make -f

build:

binary: binary-arch binary-indep

binary-arch:

binary-indep:
	dh_prep
	mkdir -p debian/tmp
	cp -r --preserve=timestamps etc debian/tmp/etc
	cp -r --preserve=timestamps usr debian/tmp/usr
	dh_installdirs --all etc
	dh_install --fail-missing
	dh_installinit -p neuros-link-config --name neuros-tmpfsdirs --no-start -r -o -u "start 21 S ."
	dh_gencontrol
	dh_installdeb
	dh_installdocs
	dh_installchangelogs
	dh_md5sums
	dh_builddeb

clean:
	dh_clean
